<%- include("navbar.ejs") %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading">Admin Mr.Vinod Thombnare</h3>
        </div>
    </div>
</div>
<%- include("footer.ejs") %>