<!DOCTYPE html><!--
    * CoreUI - Free Bootstrap Admin Template
    * @version v4.2.2
    * @link https://coreui.io/product/free-bootstrap-admin-template/
    * Copyright (c) 2023 creativeLabs Łukasz Holeczek
    * Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
    --><!-- Breadcrumb-->
    <html lang="en">
      <head>
        <base href="./">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
        <meta name="author" content="Łukasz Holeczek">
        <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
        <title>Admin Mr.Vinod Thombare</title>
        <script src="https://kit.fontawesome.com/9ef3224d5a.js" crossorigin="anonymous"></script>
        <link rel="manifest" href="/admin/assets/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/admin/assets/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        
  <!-- Favicons -->
  <link href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE8Tr4Jp1wS9vJCRHpBtr3QvkxugORmGlPHA&s" rel="icon">
  <link href="/user/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Vendors styles-->
        <link rel="stylesheet" href="/admin/vendors/simplebar/css/simplebar.css">
        <link rel="stylesheet" href="/admin/css/vendors/simplebar.css">
        <!-- Main styles for this application-->
        <link href="/admin/css/style.css" rel="stylesheet">
        <!-- We use those styles to show code examples, you should remove them in your application.-->
        <link href="/admin/css/examples.css" rel="stylesheet">
        <link href="/admin/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
        <style>
          .heading{
            background: linear-gradient(45deg, #11677E 0%, #294c72 60%, #535085 60%, #00bfff 62%, #36587c 65%, white 80%);
    border-left: 7px solid #F30B34;
    color: white;
    font-weight: bold;
    padding: 6px 10px 3px 10px;
          }
          a{
              text-decoration: none;
          }
        </style> 
      </head>
      <body>
        <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
          <div class="sidebar-brand d-none d-md-flex">
            <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
              <use xlink:href="/admin/assets/brand/coreui.svg#full"></use>
            </svg>
            <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
              <use xlink:href="/admin/assets/brand/coreui.svg#signet"></use>
            </svg>
          </div>
          <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
            <li class="nav-item">
              <a class="nav-link" href="/admin" aria-label="Dashboard">
                <i class="fa fa-tachometer nav-icon" aria-hidden="true"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/manage_home_page" aria-label="Manage Home Section">
                <i class="fa fa-home nav-icon" aria-hidden="true"></i>
                <span>Home </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/manage_about_page" aria-label="Manage About Section">
                <i class="fa fa-info-circle nav-icon" aria-hidden="true"></i>
                <span>About </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/project_section" aria-label="Manage Project Section">
                <i class="fa fa-folder-open nav-icon" aria-hidden="true"></i>
                <span>Project </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/internship" aria-label="Manage Internship Section">
                <i class="fa fa-graduation-cap nav-icon" aria-hidden="true"></i>
                <span>Internship</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/certificate_section" aria-label="Manage Certificate Section">
                <i class="fa fa-certificate nav-icon" aria-hidden="true"></i>
                <span>Certificate </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/manage_client_list" aria-label="Manage Client List">
                <i class="fa fa-users nav-icon" aria-hidden="true"></i>
                <span>Client List</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/manage_contact_information" aria-label="Manage Contact Me List">
                <i class="fa fa-envelope nav-icon" aria-hidden="true"></i>
                <span>Contact Me List</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/manage_myself_contact" aria-label="Manage MySelf Contact">
                <i class="fa fa-user nav-icon" aria-hidden="true"></i>
                <span>MySelf Contact</span>
              </a>
            </li>
          </ul>
          
        </div>
        <div class="wrapper d-flex flex-column min-vh-100 bg-light">
          <header class="header header-sticky mb-4">
            <div class="container-fluid">
              <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                <svg class="icon icon-lg">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
                </svg>
              </button><a class="header-brand d-md-none" href="#">
                <svg width="118" height="46" alt="CoreUI Logo">
                  <use xlink:href="/admin/assets/brand/coreui.svg#full"></use>
                </svg></a>
                <ul class="header-nav ms-3">
                  <li class="nav-item dropdown">
                      <a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                          <div class="avatar avatar-md d-flex align-items-center justify-content-center bg-light rounded-circle" style="width: 40px; height: 40px;">
                              <i class="fa fa-user fa-lg text-dark"></i>
                          </div>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end pt-0">
                          <div class="dropdown-header bg-light py-2">
                              <div class="fw-semibold">Account</div>
                          </div>
                          <a class="dropdown-item" href="/admin/logout_admin">
                              <i class="fa fa-sign-out me-2"></i> Logout
                          </a>
                      </div>
                  </li>
              </ul>
            </div>
          
          </header>
<div class="body flex-grow-1 px-3">
          